1. Скільки респондентів пройшли опитування?
2. Скільки респондентів відповіли на всі запитання?
3. Які значення мір центральної тенденції для досвіду (WorkExp) респондентів?
4. Скільки респондентів працює віддалено?
5. Який відсоток респондентів програмує на Python?
6. Скільки респондентів навчалося програмувати за допомогою онлайн курсів?
7. Серед респондентів що програмують на Python в групуванні по країнам, яка середня та медіанна сума компенсації (ConvertedCompYearly) в кожній країні?
8. Які рівні освіти мають 5 респондентів з найбільшою компенсацією?

Бонусні запитання:

1. В кожній віковій категорії, який відсоток респондентів програмує на Python?
2. Серед респондентів що знаходяться в 75 перцентилі за компенсацією середнього і працюють віддалено, які індустрії є найрозповсюдженішими?

In [3]:
import pandas as pd

In [4]:
df_public = pd.read_csv('survey_results_public.csv')
df_schema = pd.read_csv('survey_results_schema.csv')

In [9]:
df_public.sample(5)

,ResponseId,MainBranch,Age,Employment,RemoteWork,Check,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,...,JobSatPoints_6,JobSatPoints_7,JobSatPoints_8,JobSatPoints_9,JobSatPoints_10,JobSatPoints_11,SurveyLength,SurveyEase,ConvertedCompYearly,JobSat
40985,40986,I am a developer by profession,25-34 years old,"Employed, full-time",Remote,Apples,Hobby;Professional development or self-paced l...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Colleague;Other online resources (e.g., videos...",Technical documentation;Blogs;Books;Written Tu...,...,0.0,0.0,100.0,0.0,0.0,0.0,Appropriate in length,Easy,45.0,3.0
45657,45658,I am a developer by profession,45-54 years old,"Employed, full-time","Hybrid (some remote, some in-person)",Apples,Hobby,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)","Colleague;Other online resources (e.g., videos...",Technical documentation;Blogs;Written Tutorial...,...,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN,NaN
9847,9848,I am a developer by profession,25-34 years old,"Employed, full-time",In-person,Apples,Hobby;Contribute to open-source projects;Boots...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Other online resources ...,Technical documentation;Blogs;Written Tutorial...,...,100.0,80.0,80.0,80.0,10.0,100.0,Too long,Neither easy nor difficult,6624.0,7.0
46251,46252,I am a developer by profession,25-34 years old,"Employed, full-time",In-person,Apples,Hobby;Professional development or self-paced l...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Other online resources ...,Technical documentation;Books;Written Tutorial...,...,7.0,17.0,30.0,4.0,5.0,0.0,Appropriate in length,Neither easy nor difficult,NaN,9.0
56910,56911,I am a developer by profession,35-44 years old,"Employed, full-time","Hybrid (some remote, some in-person)",Apples,I don’t code outside of work,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;On the job training;Oth...,Books;Written Tutorials;Stack Overflow;Interac...,...,20.0,10.0,5.0,10.0,0.0,40.0,Too long,Neither easy nor difficult,NaN,9.0

In [8]:
df_schema.sample(5)

,qid,qname,question,force_resp,type,selector
43,QID343,AIComplex,How well do the AI tools you use in your devel...,False,MC,SAVR
19,QID50,Currency,Which currency do you use day-to-day? If your ...,True,MC,DL
74,QID289,Knowledge_9,I have asked my employer to reimburse me for t...,NaN,MC,MAVR
70,QID289,Knowledge_5,I know which system or resource to use to find...,NaN,MC,MAVR
76,QID290,Frequency_2,Interacting with people outside of your immedi...,NaN,MC,MAVR

In [30]:
# 1. Скільки респондентів пройшли опитування?
print('Count of respondents: ', df_public.shape[0])

Count of respondents:  65437

In [29]:
# 2. Скільки респондентів відповіли на всі запитання?
questions_set = set(df_schema['qname']) & set(df_public.columns)
print('Answered on all questions: ', df_public[list(questions_set)].dropna().shape[0])

Answered on all questions:  6306

In [7]:
# 3. Які значення мір центральної тенденції для досвіду (WorkExp) респондентів?

df_public['WorkExp'] = pd.to_numeric(df_public['WorkExp'], errors='coerce')

print('AVG_exp: ', round(df_public['WorkExp'].mean(),1))
print('Median_exp: ', round(df_public['WorkExp'].median(),1))
print('Mode_exp: ', round(df_public['WorkExp'].mode(),1))

AVG_exp:  11.5
Median_exp:  9.0
Mode_exp:  0    3.0
Name: WorkExp, dtype: float64

In [35]:
# 4. Скільки респондентів працює віддалено?
print('Respondents work remotely: ', (df_public['RemoteWork'] == 'Remote').sum())

Respondents work remotely:  20831

In [9]:
# 5. Який відсоток респондентів програмує на Python?
python_users = df_public['LanguageHaveWorkedWith'].str.contains('Python', na=False).sum()
percent = (python_users / df_public.shape[0]) * 100
print(f'Respondents who have worked with Python: {percent:.2f}%')

Respondents who have worked with Python: 47.06%

In [17]:
# 6. Скільки респондентів навчалося програмувати за допомогою онлайн курсів?
learned_online = (df_public['LearnCodeOnline'] == 'Online courses').sum()
print(f'Learn code online: {learned_online}')

Learn code online: 0

In [13]:
# 7. Серед респондентів що програмують на Python в групуванні по країнам, яка середня та медіанна сума компенсації (ConvertedCompYearly) в кожній країні?
df_public['is_python_user'] = df_public['LanguageHaveWorkedWith'].str.contains('Python', na=False)
avg_med_ccy =  round(df_public[df_public['is_python_user']].groupby('Country')['ConvertedCompYearly'].agg(['mean', 'median']), 1)
avg_med_ccy

                                          mean    median
Country
Afghanistan                             4543.0    4768.5
Albania                                56295.0   56295.0
Algeria                                 9053.3    6230.0
Andorra                               193331.0  193331.0
Angola                                     6.0       6.0
...                                        ...       ...
Venezuela, Bolivarian Republic of...   21500.0    7100.0
Viet Nam                               14014.6   10180.0
Yemen                                  10297.3    5333.0
Zambia                                 28123.7   22803.0
Zimbabwe                               37500.0   18000.0

[173 rows x 2 columns]

In [20]:
# 8. Які рівні освіти мають 5 респондентів з найбільшою компенсацією?
sorted_df = df_public.sort_values(by='ConvertedCompYearly', ascending=False)
top5_ed = sorted_df[['ResponseId', 'EdLevel', 'ConvertedCompYearly']].head(5)
top5_ed

,ResponseId,EdLevel,ConvertedCompYearly
15837,15838,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",16256603.0
12723,12724,"Professional degree (JD, MD, Ph.D, Ed.D, etc.)",13818022.0
28379,28380,"Professional degree (JD, MD, Ph.D, Ed.D, etc.)",9000000.0
17593,17594,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",6340564.0
17672,17673,"Professional degree (JD, MD, Ph.D, Ed.D, etc.)",4936778.0

Бонусні запитання:

In [25]:
# 1. В кожній віковій категорії, який відсоток респондентів програмує на Python?
df_public['is_python_user'] = df_public['LanguageHaveWorkedWith'].str.contains('Python', na=False)
percent_by_age = (df_public.groupby('Age')['is_python_user'].mean() * 100)
percent_by_age

Age
18-24 years old       55.922826
25-34 years old       45.773912
35-44 years old       41.520546
45-54 years old       41.910706
55-64 years old       40.427184
65 years or older     37.564767
Prefer not to say     45.341615
Under 18 years old    64.875389
Name: is_python_user, dtype: float64

In [31]:
# 2. Серед респондентів що знаходяться в 75 перцентилі за компенсацією середнього і працюють віддалено, які індустрії є найрозповсюдженішими?
q75 = df_public['ConvertedCompYearly'].quantile(0.75)
remote_top = df_public[(df_public['RemoteWork'] == 'Remote') & (df_public['ConvertedCompYearly'] >= q75)]
top5_industry = remote_top['Industry'].dropna().value_counts()
top5_industry

Industry
Software Development                          768
Other:                                        239
Healthcare                                    156
Fintech                                       156
Internet, Telecomm or Information Services    145
Retail and Consumer Services                  106
Media & Advertising Services                  103
Banking/Financial Services                     69
Government                                     69
Computer Systems Design and Services           69
Transportation, or Supply Chain                67
Insurance                                      50
Manufacturing                                  48
Higher Education                               42
Energy                                         36
Name: count, dtype: int64